@import './abstract/variables';
@import './mixings/breakpoints';
@import './abstract/common';
@import './include/buttons';
@import './include/header';
@import './include/footer';
  


.menu{

    .sidebar{
        .icon{
                color:$green-color;
    }
    }
}
.center{
    background-color:$mainbg-color ;
}
.card{

    background-color: $choco-color;
    border-radius: 11px;
    
    .form{

        
        .card1{

            font-size: 0.9rem;
            input{
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid white;
                width: 40%;
                
            letter-spacing: 3px;
  
                &::placeholder{
                    
                    color: white;
                }
            }
           
        }

        
    }
}
.card2{
    font-size: 0.8rem;
    background-color: $choco-color;
    color: white;
    line-height: 20px;
    letter-spacing: 2px;
}
.cost{

    background-color: $choco-color;
    border-radius: 10px;
  
}
.search{

    background-color: $calendar-color;

    .type{

        &::placeholder{

            color: white;
        }
    }
    .rightnav{

        background-color: $calendar-color;
    }
    .rightnav{
        background-color: rgb(199,144,124);
        font-size: 0.8rem;
    }
}
.tabletext{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
}
.card-title{
    letter-spacing: 3px;
}
.card-body{
    letter-spacing: 3px;
}
      .dance{  
        top:10rem;
        left:29rem;
        font-size: 10px;
        font-weight: 600;
        .card{
    
            background-color: $calendar-color;
            .card-body{
                .dance-cont{
                    background-color: $color-white;
                    
                }
                .save{
                   .btn{
                    background-color: $green-color;
                   }
                }
            }
        }

        @include media-max-lg{
            display: none;
       }
       
    }
